 <header class="header header-transparent" id="header-main">
    <!-- Topbar -->
    
    <!-- Main navbar -->
    <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary mt-4">
    <div class="container">
          <a class="navbar-brand mr-lg-5" routerLink="/profile">
          <img alt="Image placeholder" src="../../assets/img/brand/white.png" id="navbar-logo" style="height: 50px;">
        </a>        
        <div class="collapse navbar-collapse" id="navbar-primary">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/manage-wheels"> My wheels </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/profile">Setting </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notifications </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, Name</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm" aria-labelledby="navbar-primary_dropdown_1">
                        <a class="dropdown-item" routerLink="/profile">Profile</a>
                        <a class="dropdown-item" routerLink="/subscription">Subscription</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/login">Logout</a>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
  </header> 
 <div class="main-content">
    <!-- Header (account) -->
    <header class="header-account-page bg-primary d-flex align-items-end">
      <!-- Header container -->
      <div class="container">
        <div class="row">
          <div class=" col-lg-12">
            <!-- Salute + Small stats -->
          
            <!-- Account navigation -->
            <div class="d-flex">
               <div class="btn-group btn-group-nav shadow" role="group" aria-label="Basic example">
			    <ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
					<a class="nav-link active btn btn-white btn-icon" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true"> <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">General</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link btn btn-white btn-icon" id="design-tab" data-toggle="tab" href="#design" role="tab" aria-controls="design" aria-selected="true"> <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">Design</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link btn btn-white btn-icon" id="triggers-tab" data-toggle="tab" href="#triggers" role="tab" aria-controls="triggers" aria-selected="true"> <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">Triggers</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link btn btn-white btn-icon" id="intigration-tab" data-toggle="tab" href="#intigration" role="tab" aria-controls="intigration" aria-selected="true"> <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">intigration</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link btn btn-white btn-icon" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="true"> <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">Result-snippet</span></a>
				  </li>
				 
				</ul>
               <!--  <div class="btn-group" role="group">
				  <a href="checkout-cart.html" class="btn btn-white btn-icon .nav-item active">
                    <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">General</span>
                  </a>
                  <a href="checkout-customer.html" class="btn btn-white btn-icon">
                    <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">Design</span>
                  </a>
                  <a href="checkout-shipping.html" class="btn btn-white btn-icon">
                    <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">Triggers</span>
                  </a>
                  <a href="checkout-payment.html" class="btn btn-white btn-icon">
                    <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">intigration</span>
                  </a>
                  <a href="checkout-payment.html" class="btn btn-white btn-icon">
                    <span class="btn-inner--icon"></span>
                    <span class="btn-inner--text d-none d-md-inline-block">Result-snippet</span>
                  </a>
                </div> -->
              </div> 
			 

            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="slice">
	
	<div class="container">
        <div class="row row-grid">
			<div class="col-lg-12">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active col-md-8" id="general" role="tabpanel" aria-labelledby="general-tab">
				   <form>
					  <!-- Title -->             
					  <div class="mt-1">
						<!-- Title -->
						<div class="actions-toolbar py-2 mb-4">
						  <h5 class="mb-1">Name your wheel</h5>
						  <p class="text-sm text-muted mb-0">for internal use only</p>
						</div>
						<!-- New address form -->
						<div class="row">
						  <div class="col-md-12">
							<div class="form-group">
							  <input class="form-control" type="text" placeholder="Enter the name of your wheel">
							</div>
						  </div> 
						  <div class="col-md-12">
							<div class="form-group">
							  <select class="form-control" data-toggle="select">
							  <option value="wheelspinning" selected>Wheel spinning</option>
							</select>
							</div>
						  </div>
						  <div class="col-md-12">
							<div class="form-group">
							  <select class="form-control" data-toggle="select">
							  <option value="email" selected>Email</option>
							</select>
							</div>
						  </div>
						</div>
					  </div>              
					  <div class="mt-1 text-right">
						<button type="button" class="btn btn-sm btn-primary">Next step</button>
						<button type="button" class="btn btn-sm btn-success">Publish</button>
					  </div>
					</form>
					</div>
			  
					<div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="design-tab">
					<div class="row">
					<div class="col-md-4">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Wheel</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Widget</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Success</a>
					  </li>
					</ul>
					<div class="tab-content" id="myTabContent">
					  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					  <div class="card">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div>
								<h5 class="card-title mb-0"><i class="fas fa-edit"></i> Edit Wheel</h5>
							</div>
						</div>
						<div class="card-body">
							<h5>Wheel</h5>
							<label>Color</label>
							<div class="card-text row">
								<div class="col-md-3"><input type="color" name="favcolor" value="#28d7ce"></div>	
								<div class="col-md-3"><input type="color" name="favcolor" value="#4d73b3"></div>	
								<div class="col-md-3"><input type="color" name="favcolor" value="#f3e856"></div>	
								<div class="col-md-3"><input type="color" name="favcolor" value="#ff0000"></div>
							</div>
								<h5 class="card-title mb-0 mt-2">Slices</h5>
							
							<div class="row">
								<div class="col-md-8">
								<button class="btn btn-sm btn-secondary" type="button" data-toggle="modal" data-target="#modal-change-username"><i class="fas fa-edit"></i> Configure slices</button>
								<!-- <button class="btn btn-sm btn-secondary" id="toggle-panel">Show spin wheel</button> -->
								</div>
							</div>
							<div class="row mt-3">
								<div class="table-responsive">
									<table class="table align-items-center"><thead>
										<tr>
											<th><span class="badge badge-dot mr-4">Label</span></th>
											<th><span class="badge badge-dot mr-4">Promo-code</span></th>
										</tr>
									</thead>
									<tbody class="list">										
										<tr>
											<td>										
												 Free Shipping
											</td>
											<td class="price">
												Example
											</td>								
										</tr>													
										<tr>
											<td>										
												 So close!
											</td>
											<td class="price">
												(Losing)
											</td>								
										</tr>										
										<tr>
											<td>										
												 10% Off
											</td>
											<td class="price">
												Example
											</td>								
										</tr>											
										<tr>
											<td>										
												 No luck today.
											</td>
											<td class="price">
												(Losing)
											</td>								
										</tr>										
										<tr>
											<td>										
												 20% Off
											</td>
											<td class="price">
												Example
											</td>								
										</tr>											
										<tr>
											<td>										
												Sorry, try again!
											</td>
											<td class="price">
												(Losing)
											</td>								
										</tr>										
										<tr>
											<td>										
												30% Off
											</td>
											<td class="price">
												Example
											</td>								
										</tr>											
										<tr>
											<td>										
												Next time!
											</td>
											<td class="price">
												(Losing)
											</td>								
										</tr>										
										<tr>
											<td>										
												40% Off 
											</td>
											<td class="price">
												Example
											</td>								
										</tr>											
										<tr>
											<td>										
												Almost!
											</td>
											<td class="price">
												(Losing)
											</td>								
										</tr>										
										<tr>
											<td>										
												50% Off 
											</td>
											<td class="price">
												Example
											</td>								
										</tr>										
										<tr>
											<td>										
												Not quite.
											</td>
											<td class="price">
												(Losing)
											</td>								
										</tr>
										</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div class="card">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div>
								<h5 class="card-title mb-0"><i class="fas fa-edit"></i> Edit Widget</h5>
							</div>
						</div>
							<div class="card-body">
								<h5>Update Heading</h5>
								<div class="card-text row">
									<ckeditor ngModel="editorValue" [(ngModel)]="headingvalue"></ckeditor>
								</div>
								<h5 class="mt-3">Update label</h5>
								<div class="card-text row">
									<textarea [(ngModel)]="labelvalue" class="form-control" placeholder="Type here"></textarea>
								</div>
								<h5 class="mt-3">Update button text</h5>
								<div class="card-text row">
									<textarea  class="form-control" [(ngModel)]="buttonvalue" placeholder="Type here"></textarea>
								</div>
							</div>
						</div>
						</div>
						<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
						</div>
					
					</div>
					<div class="col-md-4 mt-5">
					<img src="./assets/spin.png">
					<!-- <div class="wheel-panel-wrapper visible" style="display:block">
						<div class="wheel-dimmer"></div>
						  <div class="wheel-panel">
							<div class="wheel-panel__content">
							  <div class="wheel-panel-section wheel-panel__enter-email">
								<div>
								  <h3 class="header">
									Special bonus unlocked!
								  </h3>
								  <p>
									You have a chance to win a nice big fat discount. Are you
									feeling lucky? Give it a spin.
								  </p>
								  <form class="wheel-panel__form">
									<input
									  class="input"
									  type="email"
									  name="email"
									  placeholder="Please enter your email"
									  required
									/>
									<button type="submit" class="button" id="spin-button">
									  Try your luck
									</button>
								  </form>
								</div>
							  </div>
							  <div class="wheel-panel-section wheel-panel__thank-you">
								<h3 class="header promo-name"></h3>
								<p>
								  Don't forget to use the discount code at checkout! Your discount
								  code is:
								</p>
								<input class="promo input" name="promo" readonly />
								<button class="use-promo-button button">
								  Continue & Use discount
								</button>
							  </div>
							  <div class="wheel-panel__close">
								<button type="button">
								  Close
								  <svg class="icon" viewBox="0 0 24 24">
									<path
									  style="fill:currentColor"
									  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
									/>
								  </svg>
								</button>
							  </div>
							</div>
							<div class="wheel-panel__canvas_wrapper">
							  <canvas class="wheel-panel__canvas" id="spin-wheel-canvas"></canvas>
							</div>
						  </div>
						</div> -->
					</div>
					<div class="col-md-4">
					<form>          
					  <div class="mt-5">
							<h4 class="mb-1 text-center"> <span [innerHTML]="headingvalue"></span></h4>
							<p class="text-sm text-muted mb-0 text-center">{{labelvalue}}</p>
							<div class="form-group mt-3">
							  <input class="form-control" type="text" placeholder="Email">
							</div>
							<div class="form-group">
							  <button class="form-control btn btn-info" type="button">{{buttonvalue}}</button>
							</div>
					  </div> 
					</form>
					</div>
					</div>
					<!-- 
					 -->
					</div>
			  
					<div class="tab-pane fade  col-md-8" id="triggers" role="tabpanel" aria-labelledby="triggers-tab">
					<form>
					  <!-- Title -->             
					  <div class="mt-1">
						<!-- Title -->
						<div class="actions-toolbar py-2 mb-4">
						  <h5 class="mb-1">Triggers</h5>
						</div>
						<!-- New address form -->
						<div class="row">
						  <div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" checked class="custom-control-input" id="check-privacy">
								<label class="custom-control-label" for="check-privacy">I want to show</label>
							</div>
						  </div> 
						  <div class="col-md-5">
							<div class="form-group">
							  <select class="form-control" data-toggle="select">
							  <option value="wheelspinning" selected>After 10 seconds</option>
							</select>
							</div>
						  </div>
						</div>
						<!-- <div class="row">
						  <div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="check-privacy">
								<label class="custom-control-label" for="check-privacy">Show after scrolling</label>
							</div>
						  </div> 
						  <div class="col-md-5">
							<div class="form-group">
							  <select class="form-control" data-toggle="select">
							  <option value="wheelspinning" selected>select</option>
							</select>
							</div>
						  </div>
						</div> -->
						<div class="row">
						  <div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" checked class="custom-control-input" id="check-s">
								<label class="custom-control-label" for="check-s">Display on exit-intent</label>
							</div>
						  </div> 
						</div>
						<div class="row">
						  <div class="col-md-6 pt-3">
							<div class="form-group">
								<label class="form-control-label">I want to show at most</label>
								<select class="form-control">
									
									<option selected>Every Day</option>
								</select>
							</div>
						  </div> 
						</div>
					  </div>              
					  <div class="mt-1 text-right">
						<button type="button" class="btn btn-sm btn-primary">Next step</button>
						<button type="button" class="btn btn-sm btn-success">Publish</button>
					  </div>
					</form>
					
					</div>
			  
					<div class="tab-pane fade col-md-8" id="intigration" role="tabpanel" aria-labelledby="intigration-tab">
					 <div class="col-md-12">
							<div class="form-group">
							  <input class="form-control" type="text" value="Your code is here please click on button to copy" #userinput placeholder="Enter the name of your wheel">
							  <br/>
							  <button type="button" (click)="copyInputMessage(userinput)" class="btn btn-sm btn-primary">Copy Code</button>
							</div>
						  </div> 					
					</div>
			  
					<div class="tab-pane fade col-md-8" id="result" role="tabpanel" aria-labelledby="result-tab">
					<canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
					
					</div>
				</div>
          </div>
          
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
  
  <div class="modal fade" id="modal-change-username" tabindex="-1" role="dialog" aria-labelledby="modal-change-username" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
                  <form>
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
                          <div>
                            <!-- <div class="icon icon-sm icon-shape icon-info rounded-circle shadow mr-3">
                              <i class="fas fa-user"></i>
                            </div> -->
                          </div>
                          <div>
                            <h6 class="mb-0">Configure wheel slices</h6>
                          </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          
                          <div class="table-responsive">
							<table class="table align-items-center"><thead>
								<tr>
									<th scope="col" class="sort" data-sort="product">
									
									</th>
									<th scope="col" class="sort" data-sort="product"><span class="badge badge-dot mr-4">
										<i class="bg-"></i>
										<span class="status">label</span>
										</span>
									</th>
									<th scope="col" class="sort" data-sort="price"><span class="badge badge-dot mr-4">
										<i class="bg-"></i>
										<span class="status">Coupon</span>
										</span>
									</th>
									<th scope="col" class="sort" data-sort="size"><span class="badge badge-dot mr-4">
										  <i class="bg-"></i>
										  <span class="status">Win ratio</span>
										</span>
									</th>
									<th scope="col"><span class="badge badge-dot mr-4">
										  <i class="bg-"></i>
										  <span class="status">Win text</span>
										</span>
									</th>
								</tr>
							</thead>
							<tbody class="list">
								<tr>
									<td>1</td>
									<td class="price">
										<input type="text" class="form-control" value="Free shipping">
									</td>
									<td>
										<input type="text" class="form-control"value="EXAMPLE">
									</td>
									<td>
										<input type="number" class="form-control" value="1">
									</td>
									<td>
										<input type="text" class="form-control" value="Free Shipping">
									</td>									
								</tr>
								<tr>
								<td>2</td>
									<td class="price">
										<input type="text" class="form-control" value="So close!">
									</td>
									<td>
										(Losing)
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>									
								</tr>
								<tr>
								<td>3</td>
									<td class="price">
										<input type="text" class="form-control" value="10% Off">
									</td>
									<td>
										<input type="text" class="form-control"value="EXAMPLE">
									</td>
									<td>
										<input type="number" class="form-control" value="1">
									</td>
									<td>
										<input type="text" class="form-control" value="10% Off">
									</td>									
								</tr>
								<tr>
								<td>4</td>
									<td class="price">
										<input type="text" class="form-control" value="No luck today.">
									</td>
									<td>
										(Losing)
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>									
								</tr>
								<tr>
								<td>5</td>
									<td class="price">
										<input type="text" class="form-control" value="20% Off">
									</td>
									<td>
										<input type="text" class="form-control"value="EXAMPLE">
									</td>
									<td>
										<input type="number" class="form-control" value="1">
									</td>
									<td>
										<input type="text" class="form-control" value="20% Off">
									</td>									
								</tr>
								<tr>
								<td>6</td>
									<td class="price">
										<input type="text" class="form-control" value="Sorry, try again!">
									</td>
									<td>
										(Losing)
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>									
								</tr>
								<tr>
								<td>7</td>
									<td class="price">
										<input type="text" class="form-control" value="30% Off">
									</td>
									<td>
										<input type="text" class="form-control"value="EXAMPLE">
									</td>
									<td>
										<input type="number" class="form-control" value="1">
									</td>
									<td>
										<input type="text" class="form-control" value="30% Off">
									</td>									
								</tr>
								<tr>
								<td>8</td>
									<td class="price">
										<input type="text" class="form-control" value="Next time!">
									</td>
									<td>
										(Losing)
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>									
								</tr>
								<tr>
								<td>9</td>
									<td class="price">
										<input type="text" class="form-control" value="40% Off">
									</td>
									<td>
										<input type="text" class="form-control"value="EXAMPLE">
									</td>
									<td>
										<input type="number" class="form-control" value="1">
									</td>
									<td>
										<input type="text" class="form-control" value="40% Off">
									</td>									
								</tr>
								<tr>
								<td>10</td>
									<td class="price">
										<input type="text" class="form-control" value="Almost!">
									</td>
									<td>
										(Losing)
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>									
								</tr>
								<tr>
								<td>11</td>
									<td class="price">
										<input type="text" class="form-control" value="50% Off">
									</td>
									<td>
										<input type="text" class="form-control"value="EXAMPLE">
									</td>
									<td>
										<input type="number" class="form-control" value="1">
									</td>
									<td>
										<input type="text" class="form-control" value="50% Off">
									</td>									
								</tr>
								<tr>
								<td>12</td>
									<td class="price">
										<input type="text" class="form-control" value="Not quite.">
									</td>
									<td>
										(Losing)
									</td>
									<td>
										-
									</td>
									<td>
										-
									</td>									
								</tr>
								</tbody>
							</table>
						</div>
                        </div>
                      </div>
					   <div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						  <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
						</div>
                    </div>
                  </form>
                </div>
              </div>