 <div class="main-content">
    <!-- Header (coming-soon) -->
    <section class="slice slice-lg bg-primary spotlight" data-spotlight>
      <div class="spotlight-holder py-6 py-md-9">
        <div class="container pb-md-8 position-relative zindex-100">
          <div class="col px-0">
            <div class="row justify-content-center">
              <div class="col-lg-7 text-center">
                <h6 class="h1 my-4 text-white">Coming soon ... <button routerLink="/login" class="btn btn-info">Go to sign in</button></h6>
                <p class="px-md-5 text-white mb-5">
                  Too many people spend money they haven’t earned, to buy things they don’t want, to impress people they don’t like.
                </p>				 
                <!-- Countdown -->
                <div class="countdown countdown-hero countdown-hero-dark" data-countdown-date="12/12/2020"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-container" data-shape-position="bottom">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 1000 300" style="enable-background:new 0 0 1000 300;" xml:space="preserve" class="ie-shape-wave-1">
          <path d="M 0 246.131 C 0 246.131 31.631 250.035 47.487 249.429 C 65.149 248.755 82.784 245.945 99.944 241.732 C 184.214 221.045 222.601 171.885 309.221 166.413 C 369.892 162.581 514.918 201.709 573.164 201.709 C 714.375 201.709 772.023 48.574 910.547 21.276 C 939.811 15.509 1000 24.025 1000 24.025 L 1000 300.559 L -0.002 300.559 L 0 246.131 Z" />
        </svg>
      </div>
    </section>
    <!-- Call to action (v5) -->
    <section class="slice slice-lg pt-0 zindex-101">
      <div class="container">
        <ul class="nav justify-content-center mb-4">
          <li class="nav-item">
            <a class="nav-link h3 px-4" href="https://www.instagram.com/webpixelsofficial" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h3 px-4" href="https://www.facebook.com/webpixels" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h3 px-4" href="https://github.com/webpixels" target="_blank"><i class="fab fa-github"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h3 px-4" href="https://dribbble.com/webpixels" target="_blank"><i class="fab fa-dribbble"></i></a>
          </li>
        </ul>
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-8 text-center">
            <h3 class="font-weight-400">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
            <div class="mt-5">
              <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" class="btn btn-primary rounded-pill hover-translate-y-n3">
                Purchase now<span class="badge badge-pill badge-soft-warning badge-floating border-">$ 59</span>
              </a>
              <a href="../../docs/index.html" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Official documentation">Purpose Docs</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>