 <div class="main-content">
    <!-- Header (account) -->
   <app-profile-topbar></app-profile-topbar>
    <section class="slice">
      <div class="container">
        <div class="row row-grid">
          <div class="col-lg-9 order-lg-2">
            <form>
              <!-- Password -->
              <div class="actions-toolbar py-2 mb-4">
                <h5 class="mb-1">Change password</h5>
                <p class="text-sm text-muted mb-0">You can help us, by filling your data, create you a much better experience using our website.</p>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Old password</label>
                    <input class="form-control" type="password">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">New password</label>
                    <input class="form-control" type="password">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Confirm password</label>
                    <input class="form-control" type="password">
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <button type="button" class="btn btn-sm btn-primary">Update password</button>
                <a routerLink="/resetpassword" class="btn btn-sm btn-secondary">I forgot my password</a>
              </div>
            </form>
            <!-- Username -->
            <div class="mt-5 pt-5 delimiter-top">
              <div class="actions-toolbar py-2 mb-4">
                <h5 class="mb-1">Change username</h5>
                <p class="text-sm text-muted mb-0">You can help us, by filling your data, create you a much better experience using our website.</p>
              </div>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-change-username">Change username</button>
              <!-- Modal -->
              <div class="modal fade" id="modal-change-username" tabindex="-1" role="dialog" aria-labelledby="modal-change-username" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <form>
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
                          <div>
                            <div class="icon icon-sm icon-shape icon-info rounded-circle shadow mr-3">
                              <i class="fas fa-user"></i>
                            </div>
                          </div>
                          <div>
                            <h6 class="mb-0">Change username</h6>
                          </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="form-control-label">Old username</label>
                              <input class="form-control" type="text">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="form-control-label">New username</label>
                              <input class="form-control" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="px-5 pt-4 mt-4 delimiter-top text-center">
                          <p class="text-muted text-sm">You will receive an email where you will be asked to confirm this action in order to be completed.</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Change my username</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Delete -->
            <div class="mt-5 pt-5 delimiter-top">
              <div class="actions-toolbar py-2 mb-4">
                <h5 class="mb-1">Delete account</h5>
                <p class="text-sm text-muted mb-0">Deleting your account is ireversible and can affect past activites.</p>
              </div>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delete-account">Delete account</button>
              <!-- Modal -->
              <div class="modal modal-danger fade" id="modal-delete-account" tabindex="-1" role="dialog" aria-labelledby="modal-delete-account" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <form class="form-danger">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="text-center">
                          <i class="fas fa-exclamation-circle fa-3x opacity-8"></i>
                          <h5 class="text-white mt-4">Should we stop now?</h5>
                          <p class="text-sm text-sm">All your data will be erased. You will no longer be billed, and your username will be available to anyone.</p>
                        </div>
                        <div class="form-group">
                          <label class="form-control-label text-white">You email or username</label>
                          <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                          <label class="form-control-label text-white">To verify, type <span class="font-italic">delete my account</span> below</label>
                          <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                          <label class="form-control-label text-white">Your password</label>
                          <input class="form-control" type="password">
                        </div>
                        <div class="mt-4">
                          <button type="button" class="btn btn-block btn-sm btn-white text-danger">Delete my account</button>
                          <button type="button" class="btn btn-block btn-sm btn-link text-light mt-4" data-dismiss="modal">Not this time</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 order-lg-1">
            <app-profile-sidebar></app-profile-sidebar>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>