  <div class="main-content">
    <!-- Header (account) --> 
	<app-profile-topbar></app-profile-topbar>
    <section class="slice">
      <div class="container">
        <div class="row row-grid">
          <div class="col-lg-9 order-lg-2">
            <!-- Change avatar -->
            <!-- Attach a new card -->
            
			 <!-- Payment history -->
            <div class="mt-0">
              <div class="actions-toolbar py-2 m2-4">
                <h5 class="mb-1">Payment history</h5>
                
              </div>
              <div class="table-responsive">
                <table class="table table-hover table-cards align-items-center">
                  <tbody>
                    <tr>
                      <th scope="row">
                        <span class="badge badge-lg badge-dot">
                          <i class="bg-success"></i>
                        </span>
                      </th>
                      <td>
                        <i class="fas fa-calendar-alt mr-2"></i>
                        <span class="h6 text-sm">May 20, 2018</span>
                      </td>
                      <td>#10015</td>
                      <td><i class="fas fa-credit-card mr-2"></i>Visa ending in 2035</td>
                      <td>$49.00 USD</td>
                      <td class="text-right">
                        <div class="actions">
                          <div class="dropdown">
                            <a class="action-item" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#"><i class="fas fa-file-pdf"></i>Download invoice</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-file-archive"></i>See details</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-trash-alt"></i>Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-divider"></tr>
                    <tr>
                      <th scope="row">
                        <span class="badge badge-lg badge-dot">
                          <i class="bg-danger"></i>
                        </span>
                      </th>
                      <td>
                        <i class="fas fa-calendar-alt mr-2"></i>
                        <span class="h6 text-sm">Apr 15, 2018</span>
                      </td>
                      <td>#10015</td>
                      <td><i class="fas fa-credit-card mr-2"></i>Visa ending in 2035</td>
                      <td><span class="text-danger">$39.00 USD</span></td>
                      <td class="text-right">
                        <div class="actions">
                          <div class="dropdown">
                            <a class="action-item" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#"><i class="fas fa-file-pdf"></i>Download invoice</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-file-archive"></i>See details</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-trash-alt"></i>Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-divider"></tr>
                    <tr>
                      <th scope="row">
                        <span class="badge badge-lg badge-dot">
                          <i class="bg-success"></i>
                        </span>
                      </th>
                      <td>
                        <i class="fas fa-calendar-alt mr-2"></i>
                        <span class="h6 text-sm">May 20, 2018</span>
                      </td>
                      <td>#10015</td>
                      <td><i class="fas fa-credit-card mr-2"></i>Visa ending in 2035</td>
                      <td>$49.00 USD</td>
                      <td class="text-right">
                        <div class="actions">
                          <div class="dropdown">
                            <a class="action-item" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#"><i class="fas fa-file-pdf"></i>Download invoice</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-file-archive"></i>See details</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-trash-alt"></i>Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-divider"></tr>
                    <tr>
                      <th scope="row">
                        <span class="badge badge-lg badge-dot">
                          <i class="bg-danger"></i>
                        </span>
                      </th>
                      <td>
                        <i class="fas fa-calendar-alt mr-2"></i>
                        <span class="h6 text-sm">Apr 15, 2018</span>
                      </td>
                      <td>#10015</td>
                      <td><i class="fas fa-credit-card mr-2"></i>Visa ending in 2035</td>
                      <td><span class="text-danger">$39.00 USD</span></td>
                      <td class="text-right">
                        <div class="actions">
                          <div class="dropdown">
                            <a class="action-item" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#"><i class="fas fa-file-pdf"></i>Download invoice</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-file-archive"></i>See details</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-trash-alt"></i>Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-divider"></tr>
                    <tr>
                      <th scope="row">
                        <span class="badge badge-lg badge-dot">
                          <i class="bg-danger"></i>
                        </span>
                      </th>
                      <td>
                        <i class="fas fa-calendar-alt mr-2"></i>
                        <span class="h6 text-sm">Apr 15, 2018</span>
                      </td>
                      <td>#10015</td>
                      <td><i class="fas fa-credit-card mr-2"></i>Visa ending in 2035</td>
                      <td><span class="text-danger">$39.00 USD</span></td>
                      <td class="text-right">
                        <div class="actions">
                          <div class="dropdown">
                            <a class="action-item" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#"><i class="fas fa-file-pdf"></i>Download invoice</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-file-archive"></i>See details</a>
                              <a class="dropdown-item" href="#"><i class="fas fa-trash-alt"></i>Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-3 order-lg-1">
           <app-profile-sidebar></app-profile-sidebar>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>