<div class="main-content">
    <div class="container min-vh-100 d-flex align-items-center">
      <div class="col py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">
            <div>
              <div class="mb-5 text-center">
                <h6 class="h3">Create account</h6>
                <p class="text-muted mb-0">Made with love by developers for developers.</p>
              </div>
              <span class="clearfix"></span>
              <form role="form">
                <div class="form-group">
                  <label class="form-control-label">Email address</label>
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="email" class="form-control" id="input-email" placeholder="name@example.com">
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label class="form-control-label">Password</label>
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" id="input-password" placeholder="********">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fas fa-eye"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Confirm password</label>
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" id="input-password-confirm" placeholder="********">
                  </div>
                </div>
                <div class="my-4">
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="check-terms">
                    <label class="custom-control-label" for="check-terms">I agree to the <a href="#">terms and conditions</a></label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check-privacy">
                    <label class="custom-control-label" for="check-privacy">I agree to the <a href="#">privacy policy</a></label>
                  </div>
                </div>
                <div class="mt-4">
                  <button type="button" class="btn btn-block btn-primary">Create my account</button>
				  <button type="button" class="btn btn-block btn-google-plus btn-icon-label">
							<span class="btn-inner--icon">
								<i class="fab fa-google-plus-g"></i>
							</span>
							<span class="btn-inner--text">Google +</span>
						</button>
				  </div>
              </form>
              <div class="mt-4 text-center"><small>Already have an acocunt?</small>
                <a routerLink="/login" class="small font-weight-bold"> Sign in</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>5