 <div class="main-content">
    <!-- Header (account) -->
    <app-profile-topbar></app-profile-topbar>
    <section class="slice bg-section-secondary">
      <div class="container">
        <!-- Wheels -->
        <div class="mb-4">
          <div class="actions-toolbar py-2 mb-4">
            <h5 class="mb-1">My wheels  &nbsp; <a routerLink="/addnew-wheels" class="btn btn-sm btn-success rounded-pill btn-icon shadow text-right">
                  <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                  <span class="btn-inner--text">Create new wheel </span>
                </a></h5>
            <!-- <p class="text-sm text-muted mb-0">Manage your connections and check out common projects.</p> -->
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Wheel name</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">Date : 21-11-2019</a>
                  <div class="actions d-flex justify-content-between px-4">
                   <div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="customSwitch1">
					  <label class="custom-control-label" for="customSwitch1"></label>
					</div>
                    <a href="#" class="action-item">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">                    
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Emails</span>
                    </div> 
					<div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Viewed</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Wheel name</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">Date : 21-11-2019</a>
                  <div class="actions d-flex justify-content-between px-4">
                   <div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="customSwitch2">
					  <label class="custom-control-label" for="customSwitch2"></label>
					</div>
                    <a href="#" class="action-item">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">                    
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Emails</span>
                    </div> 
					<div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Viewed</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Wheel name</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">Date : 21-11-2019</a>
                  <div class="actions d-flex justify-content-between px-4">
                   <div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="customSwitch3">
					  <label class="custom-control-label" for="customSwitch3"></label>
					</div>
                    <a href="#" class="action-item">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">                    
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Emails</span>
                    </div> 
					<div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Viewed</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Wheel name</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">Date : 21-11-2019</a>
                  <div class="actions d-flex justify-content-between px-4">
                   <div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="customSwitch1">
					  <label class="custom-control-label" for="customSwitch1"></label>
					</div>
                    <a href="#" class="action-item">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">                    
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Emails</span>
                    </div> 
					<div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Viewed</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Wheel name</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">Date : 21-11-2019</a>
                  <div class="actions d-flex justify-content-between px-4">
                   <div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="customSwitch1">
					  <label class="custom-control-label" for="customSwitch1"></label>
					</div>
                    <a href="#" class="action-item">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">                    
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Emails</span>
                    </div> 
					<div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Viewed</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Wheel name</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">Date : 21-11-2019</a>
                  <div class="actions d-flex justify-content-between px-4">
                   <div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="customSwitch1">
					  <label class="custom-control-label" for="customSwitch1"></label>
					</div>
                    <a href="#" class="action-item">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">                    
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Emails</span>
                    </div> 
					<div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Viewed</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Wheel name</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">Date : 21-11-2019</a>
                  <div class="actions d-flex justify-content-between px-4">
                   <div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="customSwitch1">
					  <label class="custom-control-label" for="customSwitch1"></label>
					</div>
                    <a href="#" class="action-item">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">                    
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Emails</span>
                    </div> 
					<div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Viewed</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Wheel name</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">Date : 21-11-2019</a>
                  <div class="actions d-flex justify-content-between px-4">
                   <div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="customSwitch1">
					  <label class="custom-control-label" for="customSwitch1"></label>
					</div>
                    <a href="#" class="action-item">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">                    
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Emails</span>
                    </div> 
					<div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Viewed</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-2-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-success"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Monroe Parker</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">@monroe.parker</a>
                  <div class="actions d-flex justify-content-between px-4">
                    <a href="#" class="action-item">
                      <i class="fas fa-user-edit"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-bell"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div style="max-width: 150px;">
                        <div id="apex-spark-2" data-toggle="apex-chart"></div>
                      </div>
                    </div>
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Open tasks</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>   -->          
          </div>
          <!-- Load more -->
         <!--  <div class="mt-4 text-center">
            <a href="#" class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3">Load more ...</a>
          </div> -->
        </div>
      </div>
    </section>
  </div> 
  <app-footer></app-footer>