 <div class="main-content">
    <!-- Header (account) -->
    <app-profile-topbar></app-profile-topbar>
    <section class="slice bg-section-secondary">
      <div class="container">
        <!-- Change avatar -->
       <!--  <div class="card bg-gradient-warning hover-shadow-lg">
          <div class="card-body py-3">
            <div class="row row-grid align-items-center">
              <div class="col-lg-8">
                <div class="media align-items-center">
                  <a href="#" class="avatar avatar-lg rounded-circle mr-3">
                    <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                  </a>
                  <div class="media-body">
                    <h5 class="text-white mb-0">Heather Wright</h5>
                    <div>
                      <form>
                        <input type="file" name="file-1[]" id="file-1" class="custom-input-file custom-input-file-link" data-multiple-caption="{count} files selected" multiple />
                        <label for="file-1">
                          <span class="text-white">Change avatar</span>
                        </label>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto flex-fill mt-4 mt-sm-0 text-sm-right d-none d-lg-block">
                <a routerLink="/addnew-wheels" class="btn btn-sm btn-white rounded-pill btn-icon shadow">
                  <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                  <span class="btn-inner--text">Add new </span>
                </a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Connections -->
        <div class="mb-4">
          <div class="actions-toolbar py-2 mb-4">
            <h5 class="mb-1">My wheels  &nbsp; <a routerLink="/addnew-wheels" class="btn btn-sm btn-success rounded-pill btn-icon shadow text-right">
                  <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                  <span class="btn-inner--text">Create new wheel </span>
                </a></h5>
            <!-- <p class="text-sm text-muted mb-0">Manage your connections and check out common projects.</p> -->
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Betty Mavis</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">@betty.mavis</a>
                  <div class="actions d-flex justify-content-between px-4">
                    <a href="#" class="action-item">
                      <i class="fas fa-user-edit"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-bell"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div style="max-width: 150px;">
                        <div id="apex-spark-1" data-toggle="apex-chart"></div>
                      </div>
                    </div>
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Open tasks</span>
                    </div>
                  </div>
                </div>
               <!--  <div class="card-footer">
                  <div class="actions d-flex justify-content-between">
                    <a href="#" class="action-item">
                      <span class="btn-inner--icon">Projects</span>
                    </a>
                    <a href="#" class="action-item">
                      <span class="btn-inner--icon">See profile</span>
                    </a>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-2-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-success"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Monroe Parker</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">@monroe.parker</a>
                  <div class="actions d-flex justify-content-between px-4">
                    <a href="#" class="action-item">
                      <i class="fas fa-user-edit"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-bell"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div style="max-width: 150px;">
                        <div id="apex-spark-2" data-toggle="apex-chart"></div>
                      </div>
                    </div>
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Open tasks</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-3-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-warning"></span>
                  </div>
                  <h5 class="mt-3 mb-0">George Squier</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">@george.squier</a>
                  <div class="actions d-flex justify-content-between px-4">
                    <a href="#" class="action-item">
                      <i class="fas fa-user-edit"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-bell"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div style="max-width: 150px;">
                        <div id="apex-spark-3" data-toggle="apex-chart"></div>
                      </div>
                    </div>
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Open tasks</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-4-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-danger"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Monroe Parker</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">@monroe.parker</a>
                  <div class="actions d-flex justify-content-between px-4">
                    <a href="#" class="action-item">
                      <i class="fas fa-user-edit"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-bell"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div style="max-width: 150px;">
                        <div id="apex-spark-4" data-toggle="apex-chart"></div>
                      </div>
                    </div>
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Open tasks</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-5-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-info"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Betty Mavis</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">@betty.mavis</a>
                  <div class="actions d-flex justify-content-between px-4">
                    <a href="#" class="action-item">
                      <i class="fas fa-user-edit"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-bell"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div style="max-width: 150px;">
                        <div id="apex-spark-5" data-toggle="apex-chart"></div>
                      </div>
                    </div>
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Open tasks</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-6-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-success"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Monroe Parker</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">@monroe.parker</a>
                  <div class="actions d-flex justify-content-between px-4">
                    <a href="#" class="action-item">
                      <i class="fas fa-user-edit"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-bell"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div style="max-width: 150px;">
                        <div id="apex-spark-6" data-toggle="apex-chart"></div>
                      </div>
                    </div>
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Open tasks</span>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-7-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-warning"></span>
                  </div>
                  <h5 class="mt-3 mb-0">George Squier</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">@george.squier</a>
                  <div class="actions d-flex justify-content-between px-4">
                    <a href="#" class="action-item">
                      <i class="fas fa-user-edit"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-bell"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div style="max-width: 150px;">
                        <div id="apex-spark-7" data-toggle="apex-chart"></div>
                      </div>
                    </div>
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Open tasks</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="card hover-shadow-lg hover-translate-y-n10">
                <div class="card-body text-center">
                  <div class="avatar-parent-child">
                    <a href="#" class="avatar avatar-lg rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/light/team-8-800x800.jpg">
                    </a>
                    <span class="avatar-child avatar-badge bg-danger"></span>
                  </div>
                  <h5 class="mt-3 mb-0">Monroe Parker</h5>
                  <a href="#" class="d-block text-sm text-muted mb-3">@monroe.parker</a>
                  <div class="actions d-flex justify-content-between px-4">
                    <a href="#" class="action-item">
                      <i class="fas fa-user-edit"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-bell"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body border-top">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div style="max-width: 150px;">
                        <div id="apex-spark-8" data-toggle="apex-chart"></div>
                      </div>
                    </div>
                    <div class="col-auto text-center">
                      <span class="d-block h4 mb-0">50</span>
                      <span class="d-block text-sm text-muted">Open tasks</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- Load more -->
          <div class="mt-4 text-center">
            <a href="#" class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3">Load more ...</a>
          </div>
        </div>
      </div>
    </section>
  </div> 
  <app-footer></app-footer>